<nav class="nav navbar navbar-dark bg-dark ">
  <!-- Navbar content -->
  <div class="container">
    <div class="menu-left">
      <a href="home">
        <h2>Rick and Morty</h2>
      </a>
    </div>

    <div class="menu-right d-flex text-center align-items-center">
      <a href="home">
        <h6>Home</h6>
      </a>

      <a href="characters">
        <h6>Characters</h6>
      </a>

      <a href="about">
        <h6>About </h6>
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
